

.payment__section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    gap: 1rem;
}

.thanks__message{
    font-family: "Archivo", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -0.04em;
    text-align: center;
}

.confirmation__sent{
    font-family: "Archivo", sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: -0.04em;
    text-align: center;
    color: #7E7E7E;
}

/* Responsive Start */

@media (max-width: 1170px){
    .payment__section{
        margin-top: 10rem;
    }
}