@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root{
  --white: #ffffff;
  --black: #000000;
  --gray: #4d4949;
  --light-gray: #d3d3d3;
  --darck-gray: #a9a9a9;
  --green: #315f31;
  --purple: #800080;
  --olive: #808000;
}

/*Heading Style Start */

.heading{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--black);
  height: 50px;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: left;
  overflow: hidden;
}

.heading__content{
  color: var(--white);
}

/* NavBar Style Start */

nav{
  margin: 80px 0;
  width: 100%;
  opacity: 0px;
}

.nav__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  border-bottom: 0.5px solid #E5E5E5;
  margin: 0 60px;
  overflow: hidden;
}

.vector{
  margin-bottom: 10px;
  width: 28px;
  height: 0px;
  top: 15.5px;
  left: 7px;
  gap: 0px;
  border: 1.5px solid var(--black);
  background-color: var(--black);
  opacity: 0px;
}

.sharch__basket i{
  display: none;
  font-size: 20px;
  gap: 0px;
  opacity: 0px;
}

.nav__bar__persons{
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
}

.nav__bar__persons, .nav__bar__about li{
  list-style: none;
}

.nav__bar__persons li a{
  text-decoration: none;
  color: var(--black);
  padding: 5px 10px;
  border-radius: 10px;
  transition: .5s ease;
}

.nav__bar__persons li a:hover{
  background-color: black;
  color: var(--white);
}

.nav__bar__about{
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
}

.nav__bar__about li a{
  text-decoration: none;
  color: var(--black);
  padding: 5px 10px;
  border-radius: 10px;
  transition: .5s ease;
}

.nav__bar__about li a:hover{
  background-color: black;
  color: var(--white);
}

.nav__bar__persons li span i{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 547pxpx;
  height: 36pxpx;
  gap: 10px;
  opacity: 0px;
}

.logo__content{
  font-family: Chillax;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: left;

}

/* NavBar Style Ends */

/* Header Section Style Start */

.header__section{
  width: 100%;
  opacity: 0px;
  margin: 80px 0;
}

.header__content{
  display: flex;
  justify-content: center;
  background-image: url(/public/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  background-position-y: center;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 60px;
  border-radius: 52px;
  overflow: hidden;
}

.separator{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  overflow: hidden;
}

.separator__content{
  width: 66px;
  height: 0.2px;
  gap: 0px;
  border-radius: 50px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--white);
}

.separator-p{
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: left;
}

.header__content__title__content{
  font-family: 'Chillax', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--white);
}

.discorver{
  width: 557px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
}

.discorver__detail{
  color: var(--white);
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: center;
}

.header__content__buttons{
  display: flex;
  width: 190px;
  height: 44px;
  gap: 0px;
  opacity: 0px;
}

.header__content__button{
  font-family: 'Chillax', sans-serif;
  height: 44px;
  padding: 12px 20px 12px 20px;
  gap: 6px;
  border-radius: 100px;
  opacity: 0px;
  cursor: pointer;
}

.header__content__buttone{
  border-radius: 100%;
  padding: 15px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 12px 20px 12px 20px;
  gap: 6px;
  opacity: 0px;
}

.header__content__button:hover{
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--darck-gray);
}

/* Header Style Ends*/

/* Discorver Style Start */

.discorver_section{
 width: 100%;
}

.discorver__header{
  margin: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.discorver_header{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100px;
}

.discorver__header__content{
  height: 72px;
  gap: 0px;
  margin: 0 50px;
  opacity: 0px;
  font-family: "Chillax", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: center;
}

.discorver__header{
  display: flex;
  justify-content: center;
  height: 78px;
  gap: 10px;
  opacity: 0px;
  overflow: hidden;
}

.discorver__header_button__actif{
  width: 100px;
  height: 48px;
  padding: 10px 14px 10px 14px;
  gap: 8px;
  border-radius: 100px;
  border: 1.5px solid var(--black);
  opacity: 0px;
  color: var(--white);
  background-color: var(--black);
}

.discorver__header__button{
  width: 140px;
  height: 48px;
  padding: 10px 14px 10px 14px;
  gap: 8px;
  border-radius: 100px;
  border: 1.5px solid var(--black);
  opacity: 0px;
  font-size: 15px;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
  transition: 0.5s ease;
}

.discorver__header__button:hover{
  color: var(--white);
  background-color: var(--black);
}

.product__section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
}

.product__card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.product__container__detail{
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: left;
}

.product__container__price{
  font-family: "Archivo", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #7E7E7E;
}

/* Product Style Ends*/

/* Collection Style Start */

.collection{
  width: 100%;
}
.collection__section{
  height: 570px;
  gap: 36px;
  opacity: 0px;
  margin: 80px 85.333px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}

.collection__header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.collection__header__h1{
  text-align: center;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: "Chillax", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.04em;
}

.collection__header_p{
  height: 40px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.04em;
  text-align: center;
  gap: 0px;
  opacity: 0px;
}

.collection__content{
  display: flex;
  height: 446px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  opacity: 0px;
  flex-wrap: wrap;
  overflow: hidden;
}

.collection__content .classic{
  display: none;
}

.collection__classic__section{
  background-image: url(/public/classic.png);
  background-size: auto;
  width: 500px;
  height: 490px;
  padding: 20px;
  gap: 10px;
  border-radius: 32px;
  opacity: 0px;
}

/* Footer Style Start */

footer{
  width: 100%;
  height: 308px;
  padding: 52px 80px 52px 80px;
  opacity: 0px;
  background-color: var(--black);
}

.footer__section{
  height: 204px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.footer__subscribe__section{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.footer__logo{
  gap: 0px;
  border: 1px;
  opacity: 0px;
}

form{
  width: 452px;
  height: 100px;
  gap: 16px;
  opacity: 0px;
}

.form__p{
  width: 452px;
  height: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--white);
}

.subscribetion{
  margin-top: 15px;
  width: 452px;
  height: 44px;
  gap: 8px;
  opacity: 0px;
  display: flex;
  align-items: center;
}

.subscribetion input{
  width: 260px;
  height: 44px;
  padding: 0px 14px 0px 14px;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--white);
  opacity: 0px;
  color: var(--white);
  background-color: transparent;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: left;
}

.subscribetion button{
  width: 128px;
  height: 44px;
  padding: 0px 14px 0px 14px;
  border-radius: 100px;
  opacity: 0px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
  border: .5px solid var(--white);
  margin-left: 10px;
}

.subscribetion button:hover{
  background-color: transparent;
  color: var(--white);
}

.footer__service{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  height: 200px;
}

.footer__service ul p{
  width: 114px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--white);
}

.footer__service ul li{
  list-style: none;
}

.footer__service ul li a{
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #C3C3C3;
  transition: .5s ease;
}

.footer__service ul li a:hover{
  border-bottom: .5px solid #C3C3C3;
}

.copy__right{
  height: 16px;
  gap: 10px;
  opacity: 0px;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #7E7E7E;
}

.copy__right > a{
  color: inherit;
  text-decoration: none;
}

.copy__right > a:hover{
  color: var(--white);
  font-size: 13px;
}

/* Responsive Design Start */

@media (max-width: 1170px) {
  
  .nav__container{
    margin: 0 40px;
  }

  
  .header__content{
    margin: 0 40px;
  }

  .discorver__header{
    margin: 30px;
  }

  .collection__section{
    margin: 80px 40px 50px;
  }

  nav ul li{
    display: none;
  }

  .vector__container{
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    width: 42px;
    height: 24px;
    padding: 0px 7px 0px 7px;
    gap: 0px;
    opacity: 0px;
  }

  .sharch__basket .bag{
    display: inline-block;
  }

  .product__container{
    width: 350px;
  }

  .product__container .img{
    width: 350px;
  }
}

@media (max-width: 1118px) {
  footer{
    height: 480px;
  }

  .footer__section{
    display: flex;
    flex-direction: column;
    height: 400px;
  }

  .footer__service{
    align-items: flex-start;
    justify-content: flex-start;
    height: 200px;
  }

  .product__container{
    width: 350px;
  }

  .product__container .img{
    width: 350px;
  }
}

@media (max-width: 1044px){
  .collection__classic__section{
    background-image: none;
  }

  .collection__content .classic{
    display: block;
  }

  .collection__classic__section{
    width: 100%;
  }

  .collection__header_p{
    text-align: center;
  }

  .collection__section{
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    overflow: hidden;
  }

  .collection__content{
    display: flex;
    gap: 16px;
    opacity: 0px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .collection__classic__section{
    width: 300px;
  }

  .product__container{
    width: 350px;
  }

  .product__container .img{
    width: 350px;
  }
}

@media (max-width: 900px) {
  .discorver__header__content{
    height: 150px;
  }
  .discorver__header{
    margin: 80px 0 30px 0;
  }

  .product__container{
    width: 350px;
  }

  .product__container .img{
    width: 350px;
  }
}

@media (max-width: 747px) {
  footer{
    margin-top: 150px;
  }

  .collection__section{
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px 20px 20px;
    height: 600px;
  }

  .collection__content{
    height: 600px;
  }

  .collection__classic__section{
    width: 350px;
  }

  .product__section{
    margin-top: 100px;
  }

  .discorver__section{
    margin-top: 100px;
  }

  footer{
    margin-top: 100px;
  }

  .product__container{
    width: 350px;
  }

  .product__container .img{
    width: 350px;
  }
}

@media (max-width: 732px){
  .product__container{
    width: 300px;
  }

  .product__container .img{
    width: 300px;
  }
}

@media (max-width: 725px){
  footer{
    height: 680px;
    padding: 52px 30px 52px 30px;
  }

  .footer__section{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .footer__service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 15px;
  }

  form{
    width: 452px;
    height: 90px;
    gap: 10px;
    opacity: 0px;
  }
  

  .form__p{
    width: 400px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: "Archivo", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: left;
    color: var(--white);
  }

  .subscribetion{
    width: 452px;
    height: 30px;
    gap: 10px;
    opacity: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .subscribetion input{
    width: 200px;
    height: 30px;
    padding: 6px 10px 6px 10px;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--white);
    opacity: 0px;
    color: var(--white);
    background-color: transparent;
    font-family: "Archivo", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;
  }

  .subscribetion button{
    width: 100px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    gap: 6px;
    border-radius: 100px;
    opacity: 0px;
    font-family: "Archivo", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: left;
    cursor: pointer;
    transition: .5s ease;
    border: .5px solid var(--white);
  }
}

@media (max-width: 711px) {
  .collection__section{
    align-items: flex-start;
    justify-content: flex-start;
    margin: 50px 20px 20px;
    height: 1000px;
  }

  .collection__content{
    height: 1000px;
  }

  .product__container{
    width: 350px;
  }

  .product__container .img{
    width: 350px;
  }
}

@media (max-width: 675px){
  .discorver{
    width: 430px;
  }

  .product__container{
    width: 350px;
  }

  .product__container .img{
    width: 350px;
  }
}

@media (max-width: 561px) {
  .separator{
    gap: 10px;
  }

  .separator__content{
    width: 40px;
  }

  .separator-p{
    font-size: 10px;
  }

  .header__content__title__content{
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
  }

  .discorver{
    width: 300px;
    height: 60px;
  }

  .discorver__detail{
    font-size: 12px;
  }
  .discorver__header{
    height: 150px;
  }

  .product__container{
    width: 350px;
  }

  .product__container .img{
    width: 350px;
  }
}

@media (max-width: 530px){
  .discorver__header__content{
    height: 250px;
  }
}